In [1]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

In [99]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup = BeautifulSoup(page.text, 'html.parser')

In [145]:
batting_div = soup.find_all(["div","tr"],{"class":["rankings-block__banner", "table-body","rankings-block__banner--rating"]},limit=11)
# batting_div = soup.findAll("table",class_="table rankings-table")

In [146]:
batting_div[1]

In [147]:
player_names = []
for container in batting_div:
    name = container.find(['div',"td"],class_=['rankings-block__banner--name-large',"table-body__cell rankings-table__name name"])
    if name is not None:
        player_names.append(name.text.strip())
    else:
        pass
    
player_names

['Virat Kohli',
 'Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [148]:
team_name=[]
for container in batting_div:
    team = container.find(['div',"span"],class_=['rankings-block__banner--nationality',"table-body__logo-text"])
    if team is not None:
        team_name.append(team.text.strip())
    else:
        pass
    
team_name

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'WI', 'NZ', 'SA']

In [149]:
Ratings = []
for container in batting_div:
    rating = container.find(["div","td"],class_=["rankings-block__banner--rating","table-body__cell rating"])
    if rating is not None:
        Ratings.append(rating.text)
    else:
        Ratings.append(batting_div[1].text)
Ratings.remove('870')
Ratings

['870', '842', '837', '818', '791', '790', '773', '773', '765', '755']

In [150]:
Data = {
    "Name": player_names,
    "Team":team_name,
    "Ratings":Ratings
}
Data

{'Name': ['Virat Kohli',
  'Rohit Sharma',
  'Babar Azam',
  'Ross Taylor',
  'Aaron Finch',
  'Francois du Plessis',
  'David Warner',
  'Shai Hope',
  'Kane Williamson',
  'Quinton de Kock'],
 'Team': ['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'WI', 'NZ', 'SA'],
 'Ratings': ['870',
  '842',
  '837',
  '818',
  '791',
  '790',
  '773',
  '773',
  '765',
  '755']}

In [152]:
df = pd.DataFrame(Data,columns = ['Name', 'Team','Ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

                     Name Team Ratings
Rank
1             Virat Kohli  IND     870
2            Rohit Sharma  IND     842
3              Babar Azam  PAK     837
4             Ross Taylor   NZ     818
5             Aaron Finch  AUS     791
6     Francois du Plessis   SA     790
7            David Warner  AUS     773
8               Shai Hope   WI     773
9         Kane Williamson   NZ     765
10        Quinton de Kock   SA     755