In [1]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling")
soup = BeautifulSoup(page.text, 'html.parser')

In [4]:
bowling_div = soup.find_all(["div","tr"],{"class":["rankings-block__banner", "table-body","rankings-block__banner--rating"]},limit=11)

In [6]:
player_names = []
for container in bowling_div:
    name = container.find(['div',"td"],class_=['rankings-block__banner--name-large',"table-body__cell rankings-table__name name"])
    if name is not None:
        player_names.append(name.text.strip())
    else:
        pass
    
player_names

['Pat Cummins',
 'Ravichandran Ashwin',
 'Neil Wagner',
 'James Anderson',
 'Josh Hazlewood',
 'Tim Southee',
 'Stuart Broad',
 'Kagiso Rabada',
 'Mitchell Starc',
 'Jasprit Bumrah']

In [7]:
team_name=[]
for container in bowling_div:
    team = container.find(['div',"span"],class_=['rankings-block__banner--nationality',"table-body__logo-text"])
    if team is not None:
        team_name.append(team.text.strip())
    else:
        pass
    
team_name

['AUS', 'IND', 'NZ', 'ENG', 'AUS', 'NZ', 'ENG', 'SA', 'AUS', 'IND']

In [9]:
Ratings = []
for container in bowling_div:
    rating = container.find(["div","td"],class_=["rankings-block__banner--rating","table-body__cell rating"])
    if rating is not None:
        Ratings.append(rating.text)
    else:
        Ratings.append(batting_div[1].text)
Ratings.remove('908')
Ratings

['908', '850', '825', '822', '816', '811', '792', '753', '744', '739']

In [10]:
Data = {
    "Name": player_names,
    "Team":team_name,
    "Ratings":Ratings
}
Data

{'Name': ['Pat Cummins',
  'Ravichandran Ashwin',
  'Neil Wagner',
  'James Anderson',
  'Josh Hazlewood',
  'Tim Southee',
  'Stuart Broad',
  'Kagiso Rabada',
  'Mitchell Starc',
  'Jasprit Bumrah'],
 'Team': ['AUS', 'IND', 'NZ', 'ENG', 'AUS', 'NZ', 'ENG', 'SA', 'AUS', 'IND'],
 'Ratings': ['908',
  '850',
  '825',
  '822',
  '816',
  '811',
  '792',
  '753',
  '744',
  '739']}

In [11]:
df = pd.DataFrame(Data,columns = ['Name', 'Team','Ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

                     Name Team Ratings
Rank
1             Pat Cummins  AUS     908
2     Ravichandran Ashwin  IND     850
3             Neil Wagner   NZ     825
4          James Anderson  ENG     822
5          Josh Hazlewood  AUS     816
6             Tim Southee   NZ     811
7            Stuart Broad  ENG     792
8           Kagiso Rabada   SA     753
9          Mitchell Starc  AUS     744
10         Jasprit Bumrah  IND     739