## Top 10 teams with rating matches and points

In [13]:
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup

In [3]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(page.text, 'html.parser')

In [4]:
icc_cricket = soup.find_all("tr", {"class":["rankings-block__banner", "table-body"]},limit=10)

In [5]:
icc_cricket

[<tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="rankings-block__banner--matches">15</td>
 <td class="rankings-block__banner--points">2,436</td>
 <td class="rankings-block__banner--rating u-text-right">
                             162
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>,
 <tr class="table-body" data-team-id="25">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">24</td>
 <td class="table-body__cell u-center-text">2,828</td>
 <td class="table-body__cell u-text-right rating">118</td>
 </tr>,
 <tr class="table-body" data-team-id="28">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="table-body__cell u-center-text">17</td>
 <td class="table-body__cell u-center-text">1,993</td>
 <td class="table-body__cell u-text-right rating">117</td>
 </tr>,
 <tr class="table-body" data-team-id="31">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">20</td>
 <td class="table-body__cell u-center-text">2,226</td>
 <td class="table-body__cell u-text-right rating">111</td>
 </tr>,
 <tr class="table-body" data-team-id="26">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">18</td>
 <td class="table-body__cell u-center-text">1,696</td>
 <td class="table-body__cell u-text-right rating">94</td>
 </tr>,
 <tr class="table-body" data-team-id="27">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">12</td>
 <td class="table-body__cell u-center-text">1,025</td>
 <td class="table-body__cell u-text-right rating">85</td>
 </tr>,
 <tr class="table-body" data-team-id="29">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">1,101</td>
 <td class="table-body__cell u-text-right rating">73</td>
 </tr>,
 <tr class="table-body" data-team-id="170">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">5</td>
 <td class="table-body__cell u-center-text">306</td>
 <td class="table-body__cell u-text-right rating">61</td>
 </tr>,
 <tr class="table-body" data-team-id="24">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">11</td>
 <td class="table-body__cell u-center-text">519</td>
 <td class="table-body__cell u-text-right rating">47</td>
 </tr>,
 <tr class="table-body" data-team-id="162">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>
 <td class="table-body__cell u-center-text">2</td>
 <td class="table-body__cell u-center-text">25</td>
 <td class="table-body__cell u-text-right rating">13</td>
 </tr>]

In [6]:
Team_names = []
for container in icc_cricket:
    name = container.find('span',class_='u-hide-phablet').text
    Team_names.append(name)
Team_names

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [7]:
matches = []
for container in icc_cricket:
    match = container.find("td", {"class":["rankings-block__banner--matches","table-body__cell u-center-text"]}).text
    matches.append(match)
matches

['15', '24', '17', '20', '18', '12', '15', '5', '11', '2']

In [8]:
points = []
i = 1
for container in icc_cricket:
    point = container.findAll("td", {"class":["rankings-block__banner--points","table-body__cell u-center-text"]})
    if(i):
        point = point[0].text
    else:
        point = point[1].text
    i=0
    points.append(point)
points

['2,436',
 '2,828',
 '1,993',
 '2,226',
 '1,696',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [9]:
ratings = []
for container in icc_cricket:
    rating = container.find("td",{"class":["rankings-block__banner--rating u-text-right","table-body__cell u-text-right rating"]}).text
    ratings.append(rating.strip())
ratings

['162', '118', '117', '111', '94', '85', '73', '61', '47', '13']

In [10]:
Odi_womens = {
    "Team_names":Team_names,
    "matches":matches,
    "points":points,
    "ratings":ratings
}

In [14]:
df = pd.DataFrame(Odi_womens,columns = ['Team_names', 'matches','points','ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

        Team_names matches points ratings
Rank
1        Australia      15  2,436     162
2     South Africa      24  2,828     118
3          England      17  1,993     117
4            India      20  2,226     111
5      New Zealand      18  1,696      94
6      West Indies      12  1,025      85
7         Pakistan      15  1,101      73
8       Bangladesh       5    306      61
9        Sri Lanka      11    519      47
10         Ireland       2     25      13

## top 10 womens ODI All-rounders

In [44]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup = BeautifulSoup(page.text, 'html.parser')

In [45]:
AllRounder_div = soup.find_all(["div","tr"],{"class":["rankings-block__banner", "table-body","rankings-block__banner--rating"]},limit=11)

In [46]:
player_names = []
for container in AllRounder_div:
    name = container.find(['div',"td"],class_=['rankings-block__banner--name-large',"table-body__cell rankings-table__name name"])
    if name is not None:
        player_names.append(name.text.strip())
    else:
        pass
    
player_names

['Ellyse Perry',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Natalie Sciver',
 'Jess Jonassen',
 'Sophie Devine',
 'Dane van Niekerk',
 'Katherine Brunt',
 'Ashleigh Gardner']

In [47]:
team_name=[]
for container in AllRounder_div:
    team = container.find(['div',"span"],class_=['rankings-block__banner--nationality',"table-body__logo-text"])
    if team is not None:
        team_name.append(team.text.strip())
    else:
        pass
    
team_name

['AUS', 'WI', 'SA', 'IND', 'ENG', 'AUS', 'NZ', 'SA', 'ENG', 'AUS']

In [49]:
Ratings = []
for container in AllRounder_div:
    rating = container.find(["div","td"],class_=["rankings-block__banner--rating","table-body__cell rating"])
    if rating is not None:
        Ratings.append(rating.text)
    else:
        Ratings.append(batting_div[1].text)
Ratings.remove('773')
Ratings

['460', '410', '390', '357', '349', '301', '274', '252', '236', '223']

In [50]:
Data = {
    "Name": player_names,
    "Team":team_name,
    "Ratings":Ratings
}
Data

{'Name': ['Ellyse Perry',
  'Stafanie Taylor',
  'Marizanne Kapp',
  'Deepti Sharma',
  'Natalie Sciver',
  'Jess Jonassen',
  'Sophie Devine',
  'Dane van Niekerk',
  'Katherine Brunt',
  'Ashleigh Gardner'],
 'Team': ['AUS', 'WI', 'SA', 'IND', 'ENG', 'AUS', 'NZ', 'SA', 'ENG', 'AUS'],
 'Ratings': ['460',
  '410',
  '390',
  '357',
  '349',
  '301',
  '274',
  '252',
  '236',
  '223']}

In [51]:
df = pd.DataFrame(Data,columns = ['Name', 'Team','Ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

                  Name Team Ratings
Rank
1         Ellyse Perry  AUS     460
2      Stafanie Taylor   WI     410
3       Marizanne Kapp   SA     390
4        Deepti Sharma  IND     357
5       Natalie Sciver  ENG     349
6        Jess Jonassen  AUS     301
7        Sophie Devine   NZ     274
8     Dane van Niekerk   SA     252
9      Katherine Brunt  ENG     236
10    Ashleigh Gardner  AUS     223

## top 10 womens ODI players

In [52]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
soup = BeautifulSoup(page.text, 'html.parser')

In [53]:
batting_div = soup.find_all(["div","tr"],{"class":["rankings-block__banner", "table-body","rankings-block__banner--rating"]},limit=11)

In [54]:
player_names = []
for container in batting_div:
    name = container.find(['div',"td"],class_=['rankings-block__banner--name-large',"table-body__cell rankings-table__name name"])
    if name is not None:
        player_names.append(name.text.strip())
    else:
        pass
    
player_names

['Lizelle Lee',
 'Tammy Beaumont',
 'Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Laura Wolvaardt',
 'Mithali Raj',
 'Ellyse Perry']

In [56]:
Ratings = []
for container in batting_div:
    rating = container.find(["div","td"],class_=["rankings-block__banner--rating","table-body__cell rating"])
    if rating is not None:
        Ratings.append(rating.text)
    else:
        Ratings.append(batting_div[1].text)
Ratings.remove('773')
Ratings

['773', '765', '749', '746', '741', '740', '719', '699', '693', '691']

In [57]:
Data = {
    "Name": player_names,
    "Team":team_name,
    "Ratings":Ratings
}
Data

{'Name': ['Lizelle Lee',
  'Tammy Beaumont',
  'Meg Lanning',
  'Stafanie Taylor',
  'Alyssa Healy',
  'Amy Satterthwaite',
  'Smriti Mandhana',
  'Laura Wolvaardt',
  'Mithali Raj',
  'Ellyse Perry'],
 'Team': ['AUS', 'WI', 'SA', 'IND', 'ENG', 'AUS', 'NZ', 'SA', 'ENG', 'AUS'],
 'Ratings': ['773',
  '765',
  '749',
  '746',
  '741',
  '740',
  '719',
  '699',
  '693',
  '691']}

In [58]:
df = pd.DataFrame(Data,columns = ['Name', 'Team','Ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

                   Name Team Ratings
Rank
1           Lizelle Lee  AUS     773
2        Tammy Beaumont   WI     765
3           Meg Lanning   SA     749
4       Stafanie Taylor  IND     746
5          Alyssa Healy  ENG     741
6     Amy Satterthwaite  AUS     740
7       Smriti Mandhana   NZ     719
8       Laura Wolvaardt   SA     699
9           Mithali Raj  ENG     693
10         Ellyse Perry  AUS     691