### Assisgnment 1 : Web Scraping using Beautiful Soup

In [1]:
# ! pip install bs4
# ! pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)
Requirement already satisfied: requests in c:\users\sonal\appdata\roaming\python\python37\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.11.28)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)

In [2]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen

Q1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.


Ans :

In [3]:
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
bs = BeautifulSoup(html, "html.parser")

In [5]:
tags = bs.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])
print("List Of All the Header Tags: ", *tags, sep="\n\n")

List Of All the Header Tags:

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of 
release) and save it in form of a CSV file. 

Ans :

In [6]:
url = "http://www.imdb.com/chart/top"
response = requests.get(url)
soup = BeautifulSoup(response.text,"lxml")

In [7]:
movies = soup.select("td.titleColumn")

In [125]:
import re

# Download IMDB's Top 100 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = ["{0:.2f}".format(float(b.attrs.get('data-value'))) for b in soup.select('td.posterColumn span[name=ir]')]
imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie.partition(' ')[0]
    
    
    data = {
        "place": place,
        "movie_title": movie_title,
        "year": year,
        "rating": ratings[index],
           }
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '  ('+item['year']+')  -  ',end="")
    print("{0:.2f}".format(float(item['rating'])))

1 - The Shawshank Redemption   (1994)  -  9.22
2 - The Godfather   (1972)  -  9.15
3 - The Godfather: Part II   (1974)  -  8.98
4 - The Dark Knight   (2008)  -  8.98
5 - 12 Angry Men   (1957)  -  8.93
6 - Schindler's List   (1993)  -  8.91
7 - The Lord of the Rings: The Return of the King   (2003)  -  8.89
8 - Pulp Fiction   (1994)  -  8.84
9 - Il buono, il brutto, il cattivo   (1966)  -  8.79
10 -  The Lord of the Rings: The Fellowship of the Ring   (2001)  -  8.78
11 - Fight Club   (1999)  -  8.76
12 - Forrest Gump   (1994)  -  8.75
13 - Inception   (2010)  -  8.72
14 - The Lord of the Rings: The Two Towers   (2002)  -  8.70
15 - Star Wars: Episode V - The Empire Strikes Back   (1980)  -  8.70
16 - The Matrix   (1999)  -  8.65
17 - Goodfellas   (1990)  -  8.64
18 - One Flew Over the Cuckoo's Nest   (1975)  -  8.64
19 - Shichinin no samurai   (1954)  -  8.60
20 - Se7en   (1995)  -  8.59
21 - La vita è bella   (1997)  -  8.58
22 - Cidade de Deus   (2002)  -  8.58
23 - The Silence of the Lambs   (1991)  -  8.58
24 - It's a Wonderful Life   (1946)  -  8.57
25 - Star Wars   (1977)  -  8.55
26 - Saving Private Ryan   (1998)  -  8.55
27 - The Green Mile   (1999)  -  8.54
28 - Sen to Chihiro no kamikakushi   (2001)  -  8.54
29 - Interstellar   (2014)  -  8.54
30 - Gisaengchung   (2019)  -  8.53
31 - Léon   (1994)  -  8.51
32 - Seppuku   (1962)  -  8.50
33 - The Usual Suspects   (1995)  -  8.49
34 - The Lion King   (1994)  -  8.49
35 - The Pianist   (2002)  -  8.49
36 - Terminator 2: Judgment Day   (1991)  -  8.49
37 - Back to the Future   (1985)  -  8.49
38 - American History X   (1998)  -  8.48
39 - Modern Times   (1936)  -  8.48
40 - Gladiator   (2000)  -  8.48
41 - Psycho   (1960)  -  8.48
42 - The Departed   (2006)  -  8.47
43 - City Lights   (1931)  -  8.47
44 - The Intouchables   (2011)  -  8.47
45 - Whiplash   (2014)  -  8.47
46 - Hotaru no haka   (1988)  -  8.46
47 - The Prestige   (2006)  -  8.46
48 - Once Upon a Time in the West   (1968)  -  8.44
49 - Casablanca   (1942)  -  8.44
50 - Nuovo Cinema Paradiso   (1988)  -  8.43
51 - Rear Window   (1954)  -  8.43
52 - Alien   (1979)  -  8.42
53 - Apocalypse Now   (1979)  -  8.42
54 - Memento   (2000)  -  8.41
55 - The Great Dictator   (1940)  -  8.41
56 - Raiders of the Lost Ark   (1981)  -  8.40
57 - Django Unchained   (2012)  -  8.39
58 - The Lives of Others   (2006)  -  8.39
59 - Hamilton   (2020)  -  8.38
60 - Paths of Glory   (1957)  -  8.38
61 - Joker   (2019)  -  8.37
62 - WALL·E   (2008)  -  8.37
63 - The Shining   (1980)  -  8.37
64 - Avengers: Infinity War   (2018)  -  8.36
65 - Sunset Blvd   (1950)  -  8.36
66 - Witness for the Prosecution   (1957)  -  8.36
67 - Oldeuboi   (2003)  -  8.35
68 - Spider-Man: Into the Spider-Verse   (2018)  -  8.35
69 - Mononoke-hime   (1997)  -  8.35
70 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb   (1964)  -  8.34
71 - The Dark Knight Rises   (2012)  -  8.33
72 - Once Upon a Time in America   (1984)  -  8.33
73 - Kimi no na wa   (2016)  -  8.32
74 - Aliens   (1986)  -  8.32
75 - Coco   (2017)  -  8.32
76 - Avengers: Endgame   (2019)  -  8.31
77 - Capharnaüm   (2018)  -  8.31
78 - American Beauty   (1999)  -  8.30
79 - Braveheart   (1995)  -  8.30
80 - Tengoku to jigoku   (1963)  -  8.30
81 - Das Boot   (1981)  -  8.30
82 - Toy Story   (1995)  -  8.30
83 - 3 Idiots   (2009)  -  8.30
84 - Amadeus   (1984)  -  8.29
85 - Inglourious Basterds   (2009)  -  8.29
86 - Good Will Hunting   (1997)  -  8.28
87 - Star Wars: Episode VI - Return of the Jedi   (1983)  -  8.28
88 - Taare Zameen Par   (2007)  -  8.28
89 - Reservoir Dogs   (1992)  -  8.28
90 - 2001: A Space Odyssey   (1968)  -  8.27
91 - Requiem for a Dream   (2000)  -  8.26
92 - Jagten   (2012)  -  8.26
93 - Vertigo   (1958)  -  8.26
94 - M - Eine Stadt sucht einen Mörder   (1931)  -  8.26
95 - Eternal Sunshine of the Spotless Mind   (2004)  -  8.26
96 - Citizen Kane   (1941)  -  8.25
97 - Dangal   (2016)  -  8.25
98 - Singin' in the Rain   (1952)  -  8.25
99 - Ladri di biciclette   (1948)  -  8.25
100 -  The Kid   (1921)  -  8.25

In [109]:
import csv

In [110]:
fields = ['place', 'movie_title', 'year', 'rating'] 
filename = "D:\International_imdb_100.csv"

In [111]:
with open(filename, 'w') as csvfile:  
    # creating a csv dict writer object  
    writer = csv.DictWriter(csvfile, fieldnames = fields)  
        
    # writing headers (field names)  
    writer.writeheader()  
        
    # writing data rows  
    writer.writerows(imdb)

Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year 
of release) and save it in form of a CSV file.

Ans :

In [130]:
# Download IMDB's Top 100 indian movies data
url = 'https://www.imdb.com/list/ls056092300/?sort=list_order,asc&st_dt=&mode=simple&page=1&ref_=ttls_vw_smp'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('div.col-title')
titles = [a.text for a in soup.select('div.col-title a')]
rating = [b.text.strip() for b in soup.select('div.col-imdb-rating strong')]
year = [y.text for y in soup.select('span.lister-item-year')]

imdb_India = []


for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie.partition(' ')[0]
    
    
    data = {
        "Movie_title": movie_title,
        "Year": year,
        "Rating": rating[index],
           }
    imdb_India.append(data)

for item in imdb_India:
    print(item['Movie_title'], '  ('+item['Year']+')  -  ' + item['Rating'])

Ship of Theseus   (2012)  -  8.1
Iruvar   (1997)  -  8.5
Kaagaz Ke Phool   (1959)  -  8
Lagaan: Once Upon a Time in India   (2001)  -  8.1
Pather Panchali   (1955)  -  8.6
Charulata   (1964)  -  8.3
Rang De Basanti   (2006)  -  8.2
DevD   (2009)  -  8
3 Idiots   (2009)  -  8.4
 Awaara   (1951)  -  7.9
Nayakan   (1987)  -  8.6
Aparajito   (1956)  -  8.4
Pushpaka Vimana   (1987)  -  8.6
Pyaasa   (1957)  -  8.5
Ghatashraddha   (1977)  -  7.4
Sholay   (1975)  -  8.2
Aradhana   (1969)  -  7.6
Do Ankhen Barah Haath   (1957)  -  8.4
Bombay   (1995)  -  8.1
Neecha Nagar   (1946)  -  6.8
Do Bigha Zamin   (1953)  -  8.4
Garm Hava   (1974)  -  8.1
Piravi   (1989)  -  7.7
Mughal-E-Azam   (1960)  -  8.2
Amma Ariyan   (1986)  -  7.1
Madhumati   (1958)  -  8
Goopy Gyne Bagha Byne   (1969)  -  8.8
Gangs of Wasseypur   (2012)  -  8.2
Guide   (1965)  -  8.4
Satya   (1998)  -  8.2
Roja   (1992)  -  8.2
Mr India   (1987)  -  7.8
The Cloud-Capped Star   (1960)  -  8
Harishchandrachi Factory   (2009)  -  8.4
Masoom   (1983)  -  8.4
Agneepath   (1990)  -  7.7
Tabarana Kathe   (1986)  -  7.9
Zakhm   (1998)  -  7.9
Dil Chahta Hai   (2001)  -  8.1
Bhaag Milkha Bhaag   (2013)  -  8.2
Chupke Chupke   (1975)  -  8.3
Dilwale Dulhania Le Jayenge   (1995)  -  8.1
Taare Zameen Par   (2007)  -  8.4
Ardh Satya   (1983)  -  8.2
Bhumika   (1977)  -  7.5
Enthiran   (2010)  -  7.1
Sadma   (1983)  -  8.4
Shwaas   (2004)  -  8.3
Lamhe   (1991)  -  7.4
Haqeeqat   (1964)  -  7.8
Shree 420   (1955)  -  8
Kannathil Muthamittal   (2002)  -  8.4
Hum Aapke Hain Koun!   (1994)  -  7.5
Ustad Hotel   (2012)  -  8.2
Bandit Queen   (1994)  -  7.6
Lakshya   (2004)  -  7.9
Black Friday   (2004)  -  8.5
Manthan   (1976)  -  7.7
Apoorva Raagangal   (1975)  -  7.5
English Vinglish   (2012)  -  7.8
Jewel Thief   (1967)  -  8
Pakeezah   (1972)  -  7.4
Maqbool   (2003)  -  8.1
Jis Desh Men Ganga Behti Hai   (1960)  -  7.4
Sahib Bibi Aur Ghulam   (1962)  -  8.3
Shatranj Ke Khilari   (1977)  -  7.7
Narthanasala   (1963)  -  7.6
Chandni Bar   (2001)  -  7.6
Vaaranam Aayiram   (2008)  -  8.1
Mr and Mrs Iyer   (2002)  -  7.9
Chandni   (1989)  -  6.8
English, August   (1994)  -  6.7
Celluloid   (2013)  -  7.7
Sagara Sangamam   (1983)  -  8.8
Munna Bhai MBBS   (2003)  -  8.1
Saaransh   (1984)  -  8.2
Guddi   (1971)  -  7.2
Vanaja   (2006)  -  7.1
Vazhakku Enn 18/9   (2012)  -  8.3
Gangaajal   (2003)  -  7.8
Angoor   (1982)  -  8.3
Guru   (2007)  -  7.7
Andaz Apna Apna   (1994)  -  8.2
Sangam (I)   (I)  -  7.5
Oka Oori Katha   (1978)  -  7.6
Bhuvan Shome   (1969)  -  7.5
Border (I)   (I)  -  7.9
Parineeta   (2005)  -  7.2
Devdas   (1955)  -  7.9
Abohomaan   (2009)  -  7.4
Kuch Kuch Hota Hai   (1998)  -  7.6
Pithamagan   (2003)  -  8.3
Veyyil   (2006)  -  7.7
Chemmeen   (1965)  -  7.8
Jaane Bhi Do Yaaro   (1983)  -  8.4
Apur Sansar   (1959)  -  8.5
Kanchivaram   (2008)  -  8.1
Monsoon Wedding   (2001)  -  7.3
Black   (2005)  -  8.2
 Deewaar   (1975)  -  8.1

In [131]:
columns = ['Movie_title', 'Year', 'Rating'] 
file = "D:\Indian_imdb_100.csv"

In [132]:
with open(file, 'w') as csvfile:  
    # creating a csv dict writer object  
    writer = csv.DictWriter(csvfile, fieldnames = columns)  
        
    # writing headers (field names)  
    writer.writeheader()  
        
    # writing data rows  
    writer.writerows(imdb_India)

Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from 
‘www.bookpage.com’

Ans :

In [228]:
from requests import get
import pandas as pd
import numpy as np
page = requests.get("https://bookpage.com/reviews")
soup = BeautifulSoup(page.text, 'html.parser')

In [229]:
book_div = soup.find_all('div', class_='flex-article-content',limit=5)

In [230]:
Names = []
for container in book_div:
    name = container.h4.a.text
    Names.append(name)

In [231]:
Authors = []
for container in book_div:
    author = container.p.text
    Authors.append(author.strip())

In [232]:
Genres = []
for container in book_div:
    genre = container.find("p",class_="genre-links").text
    
    Gen = [G.strip() for G in genre.split("/") ]
    Genres.append(Gen)

In [233]:
Reviews = []
for container in book_div:
    review = container.find("p",class_="excerpt").text
    Reviews.append(review.strip())

In [234]:
book = {
    "Names" : Names,
    "Authors" : Authors,
    "Genres" : Genres,
    "Reviews" : Reviews
}

In [235]:
df = pd.DataFrame(book,columns = ['Names', 'Authors','Genres','Reviews']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

,Names,Authors,Genres,Reviews
Rank,,,,
1,★ Just as I Am,"Cicely Tyson, Robin Miles","[Audio, Nonfiction, Biography & Memoir]",Narrator Robin Miles bringing the same warmth ...
2,★ Red Island House,Andrea Lee,"[Fiction, Literary Fiction]",The stories of Andrea Lee’s Red Island House a...
3,★ Flight of the Diamond Smugglers,Matthew Gavin Frank,"[Nonfiction, Memoir, Animals]",Matthew Gavin Frank's Flight of the Diamond Sm...
4,The One Thing You'd Save,"Linda Sue Park, Robert Sae-Heng","[Children's, Middle Grade]","In The One Thing You’d Save, a teacher named M..."
5,The Daughters of Kobani,Gayle Tzemach Lemmon,"[Nonfiction, History, Middle Eastern History]",The story of how young Kurdish women brought d...

Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:


i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 


ii) Top 10 ODI Batsmen in men along with the records of their team and rating. 


iii) Top 10 ODI bowlers along with the records of their team and rating.

Ans:

In [289]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup = BeautifulSoup(page.text, 'html.parser')

In [290]:
icc_cricket = soup.find_all("tr", {"class":["rankings-block__banner", "table-body"]},limit=10)

In [291]:
icc_cricket

[<tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="rankings-block__banner--matches">44</td>
 <td class="rankings-block__banner--points">5,405</td>
 <td class="rankings-block__banner--rating u-text-right">
                             123
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>,
 <tr class="table-body" data-team-id="14">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">52</td>
 <td class="table-body__cell u-center-text">6,102</td>
 <td class="table-body__cell u-text-right rating">117</td>
 </tr>,
 <tr class="table-body" data-team-id="16">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">33</td>
 <td class="table-body__cell u-center-text">3,857</td>
 <td class="table-body__cell u-text-right rating">117</td>
 </tr>,
 <tr class="table-body" data-team-id="15">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="table-body__cell u-center-text">39</td>
 <td class="table-body__cell u-center-text">4,344</td>
 <td class="table-body__cell u-text-right rating">111</td>
 </tr>,
 <tr class="table-body" data-team-id="19">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">31</td>
 <td class="table-body__cell u-center-text">3,345</td>
 <td class="table-body__cell u-text-right rating">108</td>
 </tr>,
 <tr class="table-body" data-team-id="20">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">35</td>
 <td class="table-body__cell u-center-text">3,490</td>
 <td class="table-body__cell u-text-right rating">100</td>
 </tr>,
 <tr class="table-body" data-team-id="22">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">38</td>
 <td class="table-body__cell u-center-text">3,432</td>
 <td class="table-body__cell u-text-right rating">90</td>
 </tr>,
 <tr class="table-body" data-team-id="13">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">42</td>
 <td class="table-body__cell u-center-text">3,372</td>
 <td class="table-body__cell u-text-right rating">80</td>
 </tr>,
 <tr class="table-body" data-team-id="21">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">49</td>
 <td class="table-body__cell u-center-text">3,802</td>
 <td class="table-body__cell u-text-right rating">78</td>
 </tr>,
 <tr class="table-body" data-team-id="17">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>
 <td class="table-body__cell u-center-text">31</td>
 <td class="table-body__cell u-center-text">1,844</td>
 <td class="table-body__cell u-text-right rating">59</td>
 </tr>]

In [292]:
Team_names = []
for container in icc_cricket:
    name = container.find('span',class_='u-hide-phablet').text
    Team_names.append(name)
Team_names

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [293]:
matches = []
for container in icc_cricket:
    match = container.find("td", {"class":["rankings-block__banner--matches","table-body__cell u-center-text"]}).text
    matches.append(match)
matches

['44', '52', '33', '39', '31', '35', '38', '42', '49', '31']

In [346]:
import re

In [354]:
points = []
i = 1
for container in icc_cricket:
    point = container.findAll("td", {"class":["rankings-block__banner--points","table-body__cell u-center-text"]})
    if(i):
        point = point[0].text
    else:
        point = point[1].text
    i=0
    points.append(point)
points

['5,405',
 '6,102',
 '3,857',
 '4,344',
 '3,345',
 '3,490',
 '3,432',
 '3,372',
 '3,802',
 '1,844']

In [257]:
ratings = []
for container in icc_cricket:
    rating = container.find("td",{"class":["rankings-block__banner--rating u-text-right","table-body__cell u-text-right rating"]}).text
    ratings.append(rating.strip())
ratings

['123', '117', '117', '111', '108', '100', '90', '80', '78', '59']

In [355]:
Odi_mens = {
    "Team_names":Team_names,
    "matches":matches,
    "points":points,
    "ratings":ratings
}

In [356]:
df = pd.DataFrame(Odi_mens,columns = ['Team_names', 'matches','points','ratings']) 
df.index = np.arange(1, len(df) + 1)
df.index.name = "Rank"
df

        Team_names matches points ratings
Rank
1          England      44  5,405     123
2            India      52  6,102     117
3      New Zealand      33  3,857     117
4        Australia      39  4,344     111
5     South Africa      31  3,345     108
6         Pakistan      35  3,490     100
7       Bangladesh      38  3,432      90
8        Sri Lanka      42  3,372      80
9      West Indies      49  3,802      78
10     Afghanistan      31  1,844      59

In [384]:
icc_batsman = soup.find_all(["div", "td"],{"class":["rankings-block__banner--name-large","table-body__cell rankings-table__name"]})

In [385]:
icc_batsman